YourGlobalPasswordHere
account_id_1
account_id_2
account_id_3
# Add more account IDs below, one per line
# Lines starting with # are comments and will be ignored
# Empty lines are also ignored

